<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>$TITLE | Shoddy Infrastructures Inc.</title>
    <meta property="og:title" content="$TITLE | Shoddy Infrastructures Inc.">
    <meta property="og:description" content="">
    <meta property="og:image" content="https://unicatte.xyz/profile_image.png">
    <meta property="twitter:card" content="summary" />
    <meta property="twitter:site" content="@unicatte" />
    <meta property="twitter:title" content="$TITLE | Shoddy Infrastructures Inc." />
    <meta property="twitter:description" content="" />
    <meta property="twitter:image" content="https://unicatte.xyz/profile_image.png" />
    <link rel="icon" href="../favicon.png">
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <div class="content">
